NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=local_db
POSTGRES_USER=local_user
POSTGRES_PASSWORD=local_password

DATABASE_URL="postgresql://local_user:local_password@localhost:5432/local_db?schema=public"

JWT_SECRET=""

RESEND_API_KEY=
CONTACT_EMAIL_TO=
CONTACT_EMAIL_FROM=""

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

NEXT_PUBLIC_SITE_URL=