@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #4F46E5;
  --color-primary-background: #F7F6F3;
  --color-secondary-background: #ECEAE4;
  --color-primary-text: #18181B;
  --color-secondary-text: #52525B;
  --color-muted-text: #888888;
  --color-primary-border: #222222;
  --color-secondary-border: #959595;
}

.dark {
  --color-accent: #818CF8;
  --color-primary-background: #060606;
  --color-secondary-background: #121212;
  --color-primary-text: #F5F5F3;
  --color-secondary-text: #B8B8B3;
  --color-muted-text: #626262;
  --color-primary-border: #3A3A3A;
  --color-secondary-border: #363636;
}

html {
  scroll-behavior: smooth;
  scroll-padding-bottom: 60px
}

body {
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 64rem) {
  html {
    scroll-padding-top: 55px;
    scroll-padding-bottom: 0;
  }
}